body {
  background-color: black;
}
.detail {
  margin-left: 8%;
  margin: 10%;
}
.detail h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
  font-family: cursive;
}
span {
  color: darkblue;
}

.detail p {
  color: white;
  line-height: 22px;
  font-size: 20px;
}
.detail a {
  background-color: darkblue;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
.image {
  margin-top: 150px;
}
.body-flex {
  display: flex;
}
.detail {
  margin-top: 150px;
}
.dregal1 h3 {
  margin-left: 50px;
}

@media (max-width: 600px) {
  .body-flex {
    display: flex;
    flex-direction: column;
  }
}
@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
}
@keyframes sequencePopup {
  0%,
  100% {
    content: "Coding";
  }
  25% {
    content: "learning";
  }
  100% {
    content: "doing";
  }
}

.typewriter::before {
  content: "coding";
  animation: sequencePopup 3s linear infinite;
}
h3 {
  color: white;
  font-size: 40px;
  font-family: cursive;
}
