.contact h1{
    margin-left: 100px;

margin-top: 200px;
font-size: 40px;
color: white;
color: white;
text-shadow: 2px -12px 3px blue;
font-family: cursive;
}
.contact input{
    
    width: 30%;
    height:50px;
    margin-top: 50px;
    font-size: x-large;
}
.contact button{
    
    margin-top: 50px;
    width: 15%;
    color: white;
    background-color: blue;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    }

    