.footer {
    margin-top: 70px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 20px;
      box-shadow:  0px -5px 55px grey;
      bottom: 0;
      width: 97%;
    }
  
    .footer p {
      margin: 5px 0;
    }
  
    .footer a {
      color: #fff;
      text-decoration: none;
    }
    .logo1{
        width: 30px;
        height: 30px;
        padding-right: 20px;
    }
   .logo0{
    padding-right:20px;
     width: 30px;
     height: 30px;
     border-radius: 10%;
   }