.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: grey;
  margin-bottom: 10px;
  padding: 10px;
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 19px;
}

nav ul li {
  margin: 5px;
  padding: 10px;
}

nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav ul li a:hover {
  color: rgb(0, 162, 255);
  transform: scale(1.1);
}

nav h2 {
  color: white;
}

.sidebar {
  /* display: none; */
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: white;
  background-color: rgba(11, 3, 53, 0.315);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
}

.sidebar li {
  width: 100%;
}

.sidebar a:hover {
  color: rgb(0, 119, 255);
}

#hamb {
  display: none;
}


@media (max-width:835px) {

  #hamb {
      display: block;
  }

  .media {
      display: none;
  }
}